:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 1943px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  width: 1440px;
  margin: 0 0 0 0;
  padding: 16px 32px 16px 32px;
  background: #ffffff;
  z-index: 38;
  overflow: hidden;
}

.about-us {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #000000;
  font-family: DM Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 258;
}
.services {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #000000;
  font-family: DM Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 259;
}
.contact-us {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #000000;
  font-family: DM Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 260;
}
.work {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #000000;
  font-family: DM Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 261;
}
.blog {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #000000;
  font-family: DM Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 262;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 40px;
  padding: 8px 8px 8px 8px;
  z-index: 263;
}
.search {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 264;
}
.icon-1 {
  position: relative;
  width: 20.5px;
  height: 20.5px;
  margin: 2px 0 0 2px;
  background: url(5a764016-eddb-4cc8-bf52-6fff55130157.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 265;
}

.logo-abdc {
  flex-shrink: 0;
  position: relative;
  width: 420px;
  height: 120px;
  background: url(24b369d1-6963-4540-9587-9ff68d86dfef.png)
  no-repeat center;
  background-size: cover;
  z-index: 256;
}

.nav-item {
  display: flex; /* Aligns the buttons in a row */
  gap: 15px; /* Space between buttons */
}

.nav-item span {
  display: inline-block; /* Allows padding and background */
}

.nav-item a {
  display: block; /* Makes the entire area clickable */
  padding: 10px 20px; /* Adds padding for a button-like appearance */
  background-color: #097004; /* Button color (change as needed) */
  color: white; /* Text color */
  text-decoration: none; /* Removes underline */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.nav-item a:hover {
  background-color: #097004; /* Darker shade on hover */
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 64px;
  position: relative;
  min-width: 0;
  padding: 8px 8px 8px 8px;
  z-index: 257;
}

.img {
  flex-shrink: 0;
  position: relative;
  width: 437px;
  height: 137px;
  background: url(24b369d1-6963-4540-9587-9ff68d86dfef.png)
    no-repeat center;
  background-size: cover;
  z-index: 39;
}
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 64px;
  position: relative;
  min-width: 0;
  padding: 8px 8px 8px 8px;
  z-index: 40;
}
.text {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #000000;
  font-family: DM Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 41;
}
.text-2 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #000000;
  font-family: DM Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 42;
}
.text-3 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #000000;
  font-family: DM Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 43;
}
.text-4 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #000000;
  font-family: DM Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 44;
}
.text-5 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #000000;
  font-family: DM Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 45;
}
.group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 40px;
  padding: 8px 8px 8px 8px;
  z-index: 46;
}
.section-2 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 47;
}
.pic {
  position: relative;
  width: 20.5px;
  height: 20.5px;
  margin: 2px 0 0 2px;
  background: url(99e7d8e5-fb25-4b97-9c23-c6f57fcb1977.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 48;
}
.wrapper {
  position: relative;
  width: 1440px;
  height: 336px;
  margin: 0 0 0 0;
  background: #f1f1f1;
  z-index: 49;
  overflow: hidden;
}
.pic-2 {
  position: absolute;
  width: 230px;
  height: 232px;
  top: 50%;
  left: 82px;
  background: url(a9a805b9-2dc5-4832-a693-72a8f73c74c7.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -50%);
  z-index: 50;
}
.wrapper-2 {
  position: absolute;
  width: 729px;
  height: 140px;
  top: 130px;
  left: 362px;
  font-size: 0px;
  z-index: 52;
}
.text-6 {
  display: block;
  position: relative;
  height: 76px;
  margin: 0 0 0 0;
  color: #2f2f2f;
  font-family: DM Sans, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 75.6px;
  text-align: left;
  white-space: nowrap;
  z-index: 51;
}
.wrapper-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;
  width: 193px;
  margin: 0 0 0 0;
  z-index: 52;
}
.group-2 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 122px;
  z-index: 53;
}
.section-3 {
  flex-shrink: 0;
  position: relative;
  width: 32px;
  height: 32px;
  z-index: 54;
  overflow: hidden;
}
.img-2 {
  position: relative;
  width: 28.667px;
  height: 23.333px;
  margin: 4.333px 0 0 1.667px;
  background: url(e5129814-ecee-4338-833e-c786754df510.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 55;
}
.text-7 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #097004;
  font-family: DM Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.832px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 56;
}
.wrapper-4 {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  min-width: 0;
  z-index: 57;
}
.img-3 {
  flex-shrink: 0;
  position: relative;
  width: 32px;
  height: 32px;
  background: url(fad35343-0831-480b-b9b1-f23ad35920bf.png)
    no-repeat center;
  background-size: cover;
  z-index: 58;
  overflow: hidden;
}
.text-8 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 21px;
  color: #097004;
  font-family: DM Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.832px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 59;
}
.box-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: relative;
  width: 1040px;
  margin: 56px 0 0 200px;
  padding: 8px 8px 8px 8px;
  z-index: 60;
}
.wrapper-5 {
  flex-shrink: 0;
  position: relative;
  width: 1024px;
  font-family: DM Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.832px;
  text-align: left;
  z-index: 61;
}
.text-9 {
  position: relative;
  color: #000000;
  font-family: DM Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.832px;
  text-align: left;
}
.text-a {
  position: relative;
  color: #000000;
  font-family: DM Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}
.text-b {
  position: relative;
  color: #000000;
  font-family: DM Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.832px;
  text-align: left;
}
.text-c {
  position: relative;
  color: #000000;
  font-family: DM Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}
.text-d {
  position: relative;
  color: #000000;
  font-family: DM Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.832px;
  text-align: left;
}
.group-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;
  width: 1440px;
  margin: 56px 0 0 0;
}
.wrapper-6 {
  flex-shrink: 0;
  position: relative;
  width: 1440px;
  height: 80px;
  background: #ffffff;
  border-bottom: 6px solid #097004;
  z-index: 1;
  overflow: hidden;
}
.box-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 32px;
  position: absolute;
  width: 498px;
  height: 32px;
  top: 50%;
  left: 80px;
  padding: 8px 8px 8px 8px;
  transform: translate(0, -50%);
  z-index: 2;
}
.text-e {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #000000;
  font-family: DM Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}
.text-f {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #000000;
  font-family: DM Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.text-10 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #000000;
  font-family: DM Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.text-11 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #000000;
  font-family: DM Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.text-12 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #000000;
  font-family: DM Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.section-4 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 14px;
  position: absolute;
  width: 138px;
  height: 24px;
  top: 28px;
  left: 1222px;
  z-index: 8;
}
.pic-3 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(a68a832c-6221-4a8c-a37e-a59191bdefd2.png)
    no-repeat center;
  background-size: cover;
  z-index: 9;
}
.Button {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: transparent;
  background: no-repeat center;
  background-size: cover;
  border: none;
  z-index: 10;
}
.pic-4 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 23.995px;
  background: url(60525548-fa87-4628-8616-d29d178c2b8b.png)
    no-repeat center;
  background-size: cover;
  z-index: 11;
}
.img-4 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(84e56ce9-c872-4f7d-9e09-5ef53e288bb0.png)
    no-repeat center;
  background-size: cover;
  z-index: 12;
}
.group-4 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 328px;
  position: relative;
  width: 1440px;
  padding: 40px 80px 40px 80px;
  background: #ffffff;
  border-bottom: 1px solid #1e1e1e;
  z-index: 13;
  overflow: hidden;
}
.wrapper-7 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 87px;
  position: relative;
  min-width: 0;
  z-index: 14;
}
.box-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 224px;
  z-index: 15;
}
.wrapper-8 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 92px;
  padding: 8px 8px 8px 8px;
  z-index: 16;
}
.text-13 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 26px;
  color: #097004;
  font-family: DM Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
}
.wrapper-9 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 224px;
  padding: 8px 8px 8px 8px;
  z-index: 18;
}
.text-14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 208px;
  height: 105px;
  color: #000000;
  font-family: DM Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.832px;
  text-align: left;
  z-index: 19;
}
.box-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 87px;
  z-index: 20;
}
.group-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 73px;
  padding: 8px 8px 8px 8px;
  z-index: 21;
}
.text-15 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 26px;
  color: #097004;
  font-family: DM Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  white-space: nowrap;
  z-index: 22;
}
.section-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 87px;
  padding: 8px 8px 8px 8px;
  z-index: 23;
}
.text-16 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 26px;
  color: #000000;
  font-family: DM Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  white-space: nowrap;
  z-index: 24;
}
.group-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 104px;
  z-index: 25;
}
.group-7 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 80px;
  padding: 8px 8px 8px 8px;
  z-index: 26;
}
.text-17 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 26px;
  color: #097004;
  font-family: DM Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  white-space: nowrap;
  z-index: 27;
}
.box-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 104px;
  padding: 8px 8px 8px 8px;
  z-index: 28;
}
.text-18 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 26px;
  color: #000000;
  font-family: DM Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  white-space: nowrap;
  z-index: 29;
}
.group-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 248px;
  z-index: 30;
}
.section-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 248px;
  padding: 8px 8px 8px 8px;
  z-index: 31;
}
.text-19 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 31px;
  color: #097004;
  font-family: DM Sans, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-align: left;
  white-space: nowrap;
  z-index: 32;
}
.Button-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 248px;
  padding: 8px 8px 8px 8px;
  cursor: pointer;
  background: #097004;
  border: none;
  z-index: 33;
}
.text-1a {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 232px;
  height: 26px;
  color: #ffffff;
  font-family: DM Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  white-space: nowrap;
  z-index: 34;
}
.group-9 {
  flex-shrink: 0;
  position: relative;
  width: 1440px;
  height: 200px;
  background: #dedede;
  z-index: 35;
  overflow: hidden;
}
.section-7 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: relative;
  width: 1280px;
  margin: 42.5px 0 0 80px;
  padding: 8px 0 8px 0;
  z-index: 36;
}
.text-1b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 1280px;
  height: 21px;
  color: #000000;
  font-family: DM Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.832px;
  text-align: left;
  white-space: nowrap;
  z-index: 37;
}
